.pass {
    text-align: center;
}
.pass h1 {
    text-align: center;
    font-weight: 700;

}
input{

    width: 40%;
    height: 15px;
    display: block;
    margin: auto;
    margin-bottom: 10px;

}

img {
    width: 50%;
    height: 50%;
    filter: blur(25px);
    transition:all 1s;
}
button{
    text-align: center;
    width: 100x;
    height: 40px;
    border-radius: 50px;
    background-color: steelblue;
}
.photo {
    text-align: center;
}